{{ define "main" }}

<section class="page-single">
    <div class="container">

        <header class="page-header">
            <h1>{{ .Title }}</h1>
        </header>

        <article class="page-body">
            {{ .Content }}
        </article>

        {{ if .Pages }}
        <section class="articles-grid">

            {{ range .Pages }}
            <article class="card">

                <div class="card-tag">Research</div>

                {{ with .Resources.GetMatch "images/cover.*" }}
                <a href="{{ $.RelPermalink }}" class="card-image-link">
                    <img
                        src="{{ .RelPermalink }}"
                        alt="{{ $.Title }}"
                        class="card-image">
                </a>
                {{ end }}

                <div>

                    <h2>
                        {{ with .Params.card_title }}
                            {{ . }}
                        {{ end }}
                    </h2>

                    {{ with .Params.card_description }}
                    <p>{{ . }}</p>
                    {{ end }}

                </div>

                    
                <div class="card-footer">
                    <span>{{ .Date.Format "02 Jan 2006" }}</span>
                    <span>Read research →</span>
                </div>

            </article>
            {{ end }}

        </section>
        {{ end }}

    </div>
</section>

{{ end }}